* {
    font-family: 'Roboto', sans-serif;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #F8E9A1;
}
/*Green, orange, and purple.*/

.navbar-anton {
    color: #A8D0E6;
}

.dot {
    font-size: 50px;
    font-weight: bolder;
    color: #A8D0E6;
}

.navbar-link {
    text-decoration: none;
    color: #374785;
}

.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #A8D0E6;
}

.profile {
    width: 400px;
    margin-left: 10px;
    color: #24305E;
}

.anton-img {
    margin: 1rem;
    border-radius: 1rem;
}

.navbar-menu {
    display: none;
}

body {
    background-color: #A8D0E6;
    position: relative; /* .navbar-is-open .navbar-is-close */
}

.navbar-is-open {
    position: absolute;
    width: 100%;
    background-color: #F76C6C;
    left: 0;
    transition: all linear 1s;
    opacity: 1;
}

.navbar-is-close {
    position: absolute;
    left: -120px;
    opacity: 0;
    transition: all linear 1s;
}

.navbar-modal {
    height: 100%;
    padding-left: 1rem;
    z-index: 900;
}

.work-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-work-detail {
    cursor: pointer;
    font-size: xx-large;
    margin-left: 1rem;
}

.work-experience-section {
   display: grid;
   grid-template-columns: repeat(2, 40%);
   justify-content: space-evenly;

}

.work-section {
    border-bottom: 2px solid #24305E;
}

.projects-section {
    background-color: #F76C6C;
    color: #24305E;
}

.project-btn {
    background-color: #24305E;
    margin: 1rem;
    cursor: pointer;
    color: #F76C6C;
    padding: 1rem;
    border-radius: 4px;
}

.project-active-btn {
    background-color: #A8D0E6;
    margin: 1rem;
    cursor: pointer;
    color: #24305E;
    padding: 0.5rem;
    border-radius: 4px;
}

.category-btn {
    transition: padding linear 0.3s;
}

.project-item {
    border: solid 4px #24305E;
    margin-bottom: 1rem;
    padding: 1rem;
}

.project-link {
    text-decoration: none;
    color: #A8D0E6;

}

.education-section {
    text-align: right;
    color: #24305E;
    background-color: #F8E9A1;
    padding: 3rem;
}

.skills-stars {
    display: flex;
    justify-content: center;
}

.skills-stars h3{
    width: 300px;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color: white;
    background-color: #F76C6C;
}

.flag-name {
    display: flex;
    align-items: center;
}

.language-flag {
    width: 50px;
    margin-right: 10px;
}

.footer-link {
    text-decoration: none;
    color: #24305E;
}

/* Animation */
.slide-enter,
.slide-exit {
    transition: transform 1000ms ease-out;
}

.slide-enter {
    transform: translateX(100%);
    opacity: 0;
}

.slide-enter.slide-enter-active {
    transform: translateX(0%);
    opacity: 1;
}

.slide-exit {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateX(0%);
    opacity: 1;
}

.slide-exit-active {
    opacity: 0;
    transform: translateX(-100%);
}

@media (max-width: 1250px) {

   .anton-img {
        width: 100px;
        position: fixed;
        right: 0;
        top: 0;
    } 

    .navbar-links {
        display: none;
    }

    .navbar-menu {
        display: block;
        font-size: xx-large;
    }

    .navbar-home-toggle {
        text-align: left;
        margin-left: 10px;
    }

    .work-experience-section {
        display: block;
    }

    .profile {
        width: auto;
        margin-left: 10px;
    }

    .footer {
        display: block;
        padding: 1rem;
    }
}

