* {
    font-family: 'Roboto', sans-serif;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: rgba(106, 218, 106, 0.763);
}
/*Green, orange, and purple.*/

.navbar-anton {
    color: rgb(132, 86, 0);
}

.dot {
    font-size: 50px;
    font-weight: bolder;
    color: rgb(132, 86, 0);
}

.navbar-link {
    text-decoration: none;
    color: rgb(111, 2, 111);
}

.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile {
    width: 400px;
    margin-left: 10px;
}

.navbar-menu {
    display: none;
}

.work-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-work-detail {
    cursor: pointer;
    font-size: xx-large;
    margin-left: 1rem;
}

.work-experience-section {
   display: grid;
   grid-template-columns: repeat(2, 40%);
   justify-content: space-evenly;

}

.work-section {
    border-bottom: 2px solid rgb(132, 86, 0);
}

.projects-section {
    background-color: rgb(111, 2, 111);
    color: rgb(148, 213, 148);
}

.project-btn {
    background-color: rgba(137, 244, 137, 0.763);
    margin: 1rem;
    cursor: pointer;
    color: rgb(61, 0, 61);
    padding: 1rem;
    border-radius: 4px;
}

.project-item {
    border: solid 4px rgb(132, 86, 0);
    margin-bottom: 1rem;
    padding: 1rem;
}

.project-link {
    text-decoration: none;
    color: rgb(148, 213, 148);

}

.education-section {
    text-align: right;
    margin: 3rem;
    padding: 3rem;
    background-image: url("./kuvat/education.avif");
    background-size: cover;
    background-position: center;
    color: white;
}

.skills-stars {
    display: flex;
    justify-content: center;
}

.skills-stars h3{
    width: 300px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color: rgb(102, 66, 1);
    background-color: rgb(148, 213, 148);
}

.flag-name {
    display: flex;
    align-items: center;
}

.language-flag {
    width: 50px;
    margin-right: 10px;
}

.footer-link {
    text-decoration: none;
    color: rgb(102, 66, 1);
}



@media (max-width: 1250px) {

   .anton-img {
        width: 100px;
        position: fixed;
        right: 0;
        top: 0;
    } 

    .navbar-links {
        display: none;
    }

    .navbar-menu {
        display: block;
        font-size: xx-large;
    }

    .navbar-is-open {
        text-align: left;
        margin-left: 10px;
    }

    .work-experience-section {
        display: block;
    }

    .profile {
        width: auto;
        margin-left: 10px;
    }

    .footer {
        display: block;
        padding: 1rem;
    }

    .education-section {
        margin: 3px;
        padding: 3px;
        mix-blend-mode: darken;
        background-image: none;
        background-color: white;
        color: black;
    }
}

